<section class="hide" id="edit{{@index}}">
 <form class="ui stacked segment form" action="dashboard/updatecollection/{{collectionId}}" method="POST" enctype="multipart/form-data">
  <table>    
  <tr>
    <td>
      <span class="ui input">
        <input type="text" name="title" autofocus required
          title="Please include a valid Title" placeholder="Title" value="{{title}}">
      </span>
    </td>
    <td>
      <button type = "reset" class="ui icon button" id="hideEdit{{@index}}" title="Exit without saving">
        <i class="ui undo icon"></i>
      </button>
    </td>
    <td>
      <button type = "submit" class="ui icon button" title="Save changes">
        <i class="ui save icon"></i>
      </button>
    </td>
   </tr>
  </table>
 </form>
</section>
