<nav class="ui menu">
  <header class="ui header item"> 
    <a href="/start"> 
      <img src="https://cdn.glitch.global/e799acfb-e8fc-483d-a90e-2ac7ba0e364a/045c4d0b-4037-4d9d-a196-d54bf766b9c5.download.jpeg?v=1708791380592" alt="All England Open" class="logo"> 
    </a>
  </header>
  
  <div class="brand-container">
    <!-- Repeated brand images -->
    <img src="https://cdn.glitch.global/e799acfb-e8fc-483d-a90e-2ac7ba0e364a/2B3eFKaD_400x400.jpg?v=1708800554881" class="brand">
    <img src="https://cdn.glitch.global/e799acfb-e8fc-483d-a90e-2ac7ba0e364a/2B3eFKaD_400x400.jpg?v=1708800554881" class="brand">
    <img src="https://cdn.glitch.global/e799acfb-e8fc-483d-a90e-2ac7ba0e364a/2B3eFKaD_400x400.jpg?v=1708800554881" class="brand">
    <img src="https://cdn.glitch.global/e799acfb-e8fc-483d-a90e-2ac7ba0e364a/2B3eFKaD_400x400.jpg?v=1708800554881" class="brand">
    <img src="https://cdn.glitch.global/e799acfb-e8fc-483d-a90e-2ac7ba0e364a/2B3eFKaD_400x400.jpg?v=1708800554881" class="brand">
    <img src="https://cdn.glitch.global/e799acfb-e8fc-483d-a90e-2ac7ba0e364a/2B3eFKaD_400x400.jpg?v=1708800554881" class="brand">
    <img src="https://cdn.glitch.global/e799acfb-e8fc-483d-a90e-2ac7ba0e364a/2B3eFKaD_400x400.jpg?v=1708800554881" class="brand">
    <img src="https://cdn.glitch.global/e799acfb-e8fc-483d-a90e-2ac7ba0e364a/2B3eFKaD_400x400.jpg?v=1708800554881" class="brand">
   
    <!-- Additional brand images omitted for brevity -->
  </div>
  
  <div class="right menu">
    <span class="name">{{fullname}}</span>
    <span class="profilepic"><img src="{{picture}}" class="ui avatar image"></span>
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="about" class="item" href="/about"> About </a>
    <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>

<script>
   document.querySelector("#{{id}}").classList.add("active");
</script>

